.card_container {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 100vh; /* Занимает всю высоту экрана */
  width: 90%;
  background-image: url(https://img.freepik.com/free-photo/portrait-young-sportive-girl-training-with-dumbbells-isolated-blue-background-neon_155003-45614.jpg?semt=ais_hybrid);
  background-size: cover; /* Изображение занимает всю ширину и высоту */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Предотвращаем повторение изображения */
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 37.9px 0;
}

.card_container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 160vh;
  height: 115.1vh;
  background-color: rgba(0, 0, 0, 0.687); /* Затемнение с прозрачностью */
  z-index: 1; /* Устанавливаем слой затемнения выше фона */
}

.row {
  width: 100%;

  height: 100.2vh;
}

.img {
  height: 350px; /* Высота изображения */
  width: 450px; /* Ширина изображения */
  /* margin-top: 80px; */
  /* object-fit: cover; Сохраняем пропорции изображения, обрезая его при необходимости */
}

.styled_title {
  font-size: 1.5rem; /* Размер заголовка */
  color: #333333; /* Цвет заголовка */
  margin-bottom: 8px; /* Отступ снизу */
}

.styled_description {
  font-size: 1rem; /* Размер описания */
  color: #666; /* Цвет описания */
}

.styled_info_box {
  position: relative; /* Содержимое будет выше затемнения */
  z-index: 2; /* Устанавливаем содержимое выше затемнения */
  color: rgb(0, 0, 0);
  display: flex; /* Используем flexbox для размещения информации */
  justify-content: space-around; /* Равномерное распределение информации */
  padding: 16px; /* Отступы внутри информационного блока */
  background-color: #f0f0f0; /* Фоновый цвет для блока информации */
}

.styled-info-item {
  flex: 1; /* Элементы занимают равное пространство */
  text-align: center; /* Центрируем текст */
  color: #7900e35e; /* Цвет текста информации */
}

.button {
  margin-top: -180px;
  margin-left: 540px;
  font-size: 17px;
  width: 200px;
  cursor: pointer;
  color: '#fff';
  height: 70px;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
  position: relative; /* Убедитесь, что кнопки имеют позиционирование */
  z-index: 2; /* Устанавливаем z-index выше, чем у затемнения */
}

.styled_card {
  position: relative; /* Содержимое будет выше затемнения */
  z-index: 2; /* Устанавливаем содержимое выше затемнения */
  color: white;
  background-color: white; /* Цвет фона карточки */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень карточки */
  max-width: 800px; /* Максимальная ширина карточки */
  width: 90%; /* Ширина карточки на 100% доступного пространства */
  justify-content: space-evenly;
  overflow: hidden; /* Скрываем переполнение */
}

.styled_title_and_description {
  /* display: flex; Flexbox для заголовка и описания */
  /* justify-content: space-between; Равномерное распределение пространства */
  margin-bottom: 16px; /* Отступ снизу для разделения */
}

.styled_info_box {
  display: flex; /*Flexbox для информационных элементов */
  justify-content: space-between; /*Равномерное распределение пространства */
}

.remainingTime {
  position: absolute; /* Позволяет позиционировать элемент относительно ближайшего родителя с position: relative */
  top: 120px; /* Отступ от верхнего края */
  right: 270px; /* Отступ от правого края */
  font-size: 95px;
  width: 600px;
  color: #fff;
  z-index: 1000;
}

/* Адаптивные стили для мобильных устройств */

@media (max-width: 768px) {
  .remainingTime {
    padding: 10px 20px;
    font-size: 80px;
    width: 600px;
    color: #fff;
    margin-left: 26px; /* Обнуляем значение marginLeft */
  }

  .styled_card {
    margin-top: 6rem;
    max-width: 90%; /* Максимальная ширина карточки */
    max-height: 60%;
    height: 100%;
    width: 100%; /* Ширина карточки на 100% доступного пространства */
  }

  .img {
    height: 10rem; /* Высота изображения */
    width: auto; /* Ширина изображения */
    object-fit: cover;
  }

  .styled_title {
    font-size: 2px; /* Размер заголовка */
    color: #333333; /* Цвет заголовка */
    margin-bottom: 1px; /* Отступ снизу */
  }

  .styled_description {
    font-size: 1px;
  }

  .body2 {
    font-size: 1px;
  }
}
