.ocb {
  position: relative;
  height: 100vh; /* Занимает всю высоту экрана */
  width: 100%;
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  background-image: url(https://img.freepik.com/free-photo/portrait-young-sportive-girl-training-with-dumbbells-isolated-blue-background-neon_155003-45614.jpg?semt=ais_hybrid);
  background-size: cover; /* Изображение занимает всю ширину и высоту */
  background-position: center; /* Центрируем изображение */
}

.row {
  position: absolute; /* Позволяет наложить затемнение на фон */
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение */
  display: flex; /* Используем Flexbox для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  z-index: 1; /* Устанавливаем z-index для затемнения */
}

.button {
  position: absolute;
  height: 5vh;
  width: 10vh;
  margin-top: 5vh;
  border-radius: 1vh;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
  color: #fffdfd;
  font-size: 1.7vh;
  z-index: 2; /* Устанавливаем z-index выше, чем у фона и затемнения */
}

.buttonB {
  position: absolute;
  margin-top: 55vh;
  height: 5vh;
  width: 12vh;
  border-radius: 1vh;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
  color: #fffdfd;
  font-size: 1.7vh;
  z-index: 2; /* Устанавливаем z-index выше, чем у фона и затемнения */
}

.img {
  height: 45vh; /* Высота изображения */
  width: 50vh; /* Ширина изображения */
}

.styled_card {
  width: 50%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  margin-left: 50vh;
}

.styled_card_content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.styled_title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #333333; /* Цвет заголовка */
}

.styled_description {
  font-size: 1.125rem;
  margin-bottom: 12px;
  color: #666; /* Цвет описания */
}

.styled_info_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.styled_info_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.remainingTime {
  position: absolute; /* Позволяет позиционировать элемент относительно ближайшего родителя с position: relative */
  top: 12vh; /* Отступ от верхнего края */
  font-size: 10vh;
  color: #fff;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .remainingTime {
    padding: 10px 20px;
    font-size: 80px;
    width: 600px;
    margin-left: 26px; /* Обнуляем значение marginLeft */
  }

  .styled_card {
    margin-top: 6rem;
    max-width: 90%; /* Максимальная ширина карточки */
    max-height: 60%;
    height: 100%;
    width: 100%; /* Ширина карточки на 100% доступного пространства */
  }

  .img {
    height: 10rem; /* Высота изображения */
    width: auto; /* Ширина изображения */
    object-fit: cover;
  }

  .styled_title {
    font-size: 2px; /* Размер заголовка */
    margin-bottom: 1px; /* Отступ снизу */
  }

  .styled_description {
    font-size: 1px;
  }
}
