.footer {
  background-color: rgb(47, 47, 47);
  height: 15rem; 
  width: 100%; 
  color: #ffffffdd;
  padding: 2rem;
  display: flex; 
  align-items: center;
}



@media (max-width: 768px) {
  .footer {
    display: none;


  }
}

