.container {
  font-family: Arial, sans-serif;
  height: 240vh;
  width: 100%;
}

.background_video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.contentWrapper {
  color: white;
  padding: 4vh;

 
}

.h1 {
  display: flex;
 justify-content: center;
  font-size: 4rem;
}

.backgroundRun {
  position: relative;
  right: 8rem;
  width: 35%;
  margin-left: auto;
  z-index: 1;
}

.backgroundRun video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.horizontalLine {
  border: none;
  height: 0.2vh;
  background-color: black;
  margin: 10vh 0;
  width: 100%;
}

.videoContainer {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.textBox {
  padding: 1rem;
  margin-left: 2rem;
  width: 55rem;
  background-color: rgb(255, 255, 255);
}

.h2 {
  display: flex;
 justify-content: center;
  font-size: 5vh;
  background: linear-gradient(to right, #ffae00, #b73ec7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.textBox p {
  width:800px;
  margin-left:2rem;
  margin-top: 3vh;
  color: black; /* Цвет текста */
  font-size: 2.7vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.backgroundRun:last-child {
  position: relative;

}

.backgroundRun:last-child::before {
  content: '';
  position: absolute;
  top: -2vh;
  left: -2vh;
  right: -2vh;
  bottom: -2vh;
  background: linear-gradient(to right, #ffae00, #b73ec7);
  filter: blur(2vh);
  z-index: -1;
}


.videoTitle {
  margin: 5vh 10vh;
  font-size: 1.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
  background: linear-gradient(to right, #756749, #b73ec7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.videoSubtitle {
  
  font-size: 2.5vh;
   margin-left: 11vh;
  background: linear-gradient(to right, #ffffff, #b73ec7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.videoText {
  margin-top: 35vh ;
  margin-left: 70%;
  max-width: 55vh; 
  color:white
}

.h3 {
  font-size: 4vh;
  color: #ffffff; /* Белый цвет текста */
  background: linear-gradient(to right, #ff6b6b, #ffa500, #9370db, #7b68ee); /* Градиент фона */
  padding: 1vh; /* Отступы для лучшего отображения */
  display: inline-block;
}

.videoText p {
  font-size: 1.5vh;
  color: #ffffff;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .contentWrapper {
    padding: 0px;
    width: 150px;
    height: 80px; /* Изменяем высоту для мобильных */

  }

  .container {
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
    /* margin-left: 15px; */
  }

  .background_video {
    width: 100%;
    height: auto;
  }

  .h1 {
    margin-top: 6rem;
    margin-left: 16rem;
    font-size: 1.5rem; /* Уменьшаем размер заголовка */
    margin-bottom: -7rem; /* Уменьшаем отступ */
  }

  .backgroundRun {
    width: 80%; /* Ширина 100% для мобильных */
    margin-top: 11rem; /* Убираем отступ справа */
    margin-left: 38px; /* Убираем отступ слева */
    right: 0; /* Убираем правый отступ */
  }

  .textBox {
    width: 80%; /* Уменьшаем ширину рамки */
    height: 18rem; /* Высота будет автоматической */
    margin-left: 0; /* Убираем отступ слева */
    margin-right: 0; /* Убираем отступ справа */
  }

  .videoText {
    margin-left: 10rem; /* Убираем отступ слева */
    margin: 0px 0px 0px 140px;
    font-size: 3px;
    /* max-width: 100%; Увеличиваем максимальную ширину */
  }

  .videoContainer {
    flex-direction: column; /* Изменяем направление на вертикальное */
    align-items: flex-start; /* Выравниваем по левому краю */
  }

  .horizontalLine {
    margin: 50px 0; /* Уменьшаем отступ для мобильных */
  }

  .videoTitle,
  .videoSubtitle {
    font-size: 7px;
    margin-top: 0;
    margin-left: 220px;
    padding: 0px; /* Увеличиваем размер шрифта для заголовков */
  }
 .videoText h3 {
  display: none;
 }
  


  .videoText p {
    display: none;
  }

  .h2 {
    margin-left: 0rem;
    font-size: 25px;
    background: linear-gradient(to right, #ffae00, #b73ec7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/* 
  .div {
    width: 80px;
    margin-top: -51px;
    font-size: 7px; /* Уменьшаем размер заголовка */
  /* } */ 

  .h3 {
    font-size: 20px;
    color: #ffffff; /* Белый цвет текста */
    background: linear-gradient(to right, #ff6b6b, #ffa500, #9370db, #7b68ee); /* Градиент фона */
    padding: 10px; /* Отступы для лучшего отображения */
    margin-bottom: 1px;
    margin-left: 40px;
    display: inline-block;
    /* margin-top: -200px */
  }
  .textBox p {
    color: black;
    font-size: 18px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }

  .videoOverlay {
    margin: 1px;
    height: 20px;
    color: white;
    z-index: 1;
  }
}
