.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  /* display: flex; */
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.userPNavbar {
  background-image: linear-gradient(to right, #dd973b, #b73ec7); /* Новый градиент для userP */
}


.home {
  display: none;
}

.gradient_text {
  background: linear-gradient(to right, #ff6b6b, #ffa500, #9370db, #7b68ee);
  background-size: 200% 200%;
  animation: gradient-animation 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-left: -30px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLink {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: #ccc !important;
  }
}

.userMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalCabinet {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .navbar {
    height: 55px;
    width: 100%;
    background-color: black;

  }

  .navbarBrand {
    display: none;
  }

  .home {
    display: none;
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #ccc !important;
    }
  }
  .collabs {
    size: 2rem;

  }

  .nav {
    font-size: 16px;
  }
}
