.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.hidden {
  top: -120px !important;
}

/* .avatar {
  top: 10px;
  transform: scale(1); /* Увеличиваем размер аватара на 150% */

