.person {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 100vh; /* Занимает всю высоту экрана */
  width: 1800px;
  background-image: url(https://img.freepik.com/premium-photo/flyer-young-sportive-woman-training-isolated-gradient-studio-background-neon-light-athletic-graceful-modern-sport-action-motion-youth-concept-beautiful-caucasian-woman-practicing_489646-3014.jpg?semt=ais_hybrid);
  background-size: cover; /* Изображение занимает всю ширину и высоту */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Предотвращаем повторение изображения */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.person::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.593); /* Затемнение с прозрачностью */
  z-index: 1; /* Устанавливаем слой затемнения выше фона */
}
.card {
  margin: 50px;
  color: white;
  background-color: white; /* Цвет фона карточки */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень карточки */
  max-width: 800px; /* Максимальная ширина карточки */
  width: 100%; /* Ширина карточки на 100% доступного пространства */
  justify-content: space-evenly;
  /* overflow: hidden; Скрываем переполнение */
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;

  position: relative; /* Содержимое будет выше затемнения */
  z-index: 2; /* Устанавливаем содержимое выше затемнения */
}
/* Стили для заголовков */
.h1,
.h2 {
  color: #fff; /* Белый цвет текста */
  text-align: center; /* Центрирование заголовка */
  margin: 20px 0; /* Отступы сверху и снизу */
}

/* Стили для контейнера с формами */
.formContainer {
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для формы */
  border-radius: 8px; /* Закругление углов */
  padding: 30px; /* Внутренние отступы */
}

/* Стили для кнопок */
.btn {
  height: 50px;
  color: #fff;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
}

/* Стиль для блока с личной метрикой, целями и избранными тренировками */
.metricBlock,
.goalsBlock,
.favoriteWorkoutsBlock {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}
