


.col {
  position: relative; /* Содержимое будет выше затемнения */
  z-index: 2; /* Устанавливаем содержимое выше затемнения */
  display: flex;
  justify-content: column;
  /* justify-content: center; Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  flex-direction: column;
}

.h2 {
  font-size: 4rem; /* Размер заголовка */
  color: #ffffff; /* Цвет заголовка */
  margin-bottom: 20px; /* Отступ снизу */
  
}

.divan {
  font-size: 1.5rem; /* Размер текста таймера */
  color: #ffffff; /* Цвет текста */
  margin-bottom: 30px; /* Отступ снизу */

}

.button {
  height: 6vh;
  width: 15vh;
  margin-top: 5vh;
  border-radius: 1vh;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
  color: #fffdfd;
  z-index: 2; 
}


 /* Адаптивные стили для мобильных устройств */
 
@media (max-width: 768px) {


  .h2 {
    font-size: 3rem; /* Размер заголовка */
    color: #ffffff; /* Цвет заголовка */
    margin-bottom: 20px; /* Отступ снизу */
  }

  .div {
    font-size: 1.3rem; /* Размер текста таймера */
    color: #fffdfd; /* Цвет текста */
    margin-bottom: 30px; /* Отступ снизу */
  }

}


