
.typeCard{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/young-beautiful-asian-woman-with-athletic-body-doing-push-ups-modern-fitness-center_74952-2516.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 163.9px 0;
  }
  
  .typeCard::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 177.5vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.612); /* Затемнение с прозрачностью */
    z-index: 1; /* Устанавливаем слой затемнения выше фона */
  }
  
  @media (max-width: 768px) {
    .typeCard {
      height: 100vh; /* Уменьшаем высоту для мобильных устройств */
      width: 100%; /* Занимаем всю ширину экрана */
     
  }
  }

