.workoutCard {
  position: relative; /* Измените на relative */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем по вертикали */
  align-items: center; /* Центрируем по горизонтали */
  height: 100vh; /* Занимает всю высоту экрана */
  width: 177.4vh;
  background-image: url(https://img.freepik.com/premium-photo/caucasian-young-female-athlete-practicing-blue-studio-background-neon-light-close-up-sportive-model-jumping-high-running-body-building-healthy-lifestyle-beauty-action-concept_489646-12081.jpg);
  background-size: cover; /* Изображение занимает всю ширину и высоту */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Предотвращаем повторение изображения */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.workoutCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.601); /* Затемнение с прозрачностью */
  z-index: 1; /* Устанавливаем слой затемнения выше фона */
}

.button {
  height: 100px;
  color: #fff;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-image: linear-gradient(to right, #ffae00, #b73ec7) !important;
  border: none !important;
  position: relative; /* Убедитесь, что кнопки имеют позиционирование */
  z-index: 2; /* Устанавливаем z-index выше, чем у затемнения */
}
